<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/emp.css')}}">
    <script src="{{url_for('static', filename='js/emp.js')}}"></script>
</head>
<body>
    환영합니다.
    <br><hr><br>
    <button onclick="empall()">직원 정보 검색하기</button>
    <div id="demo"></div>
</body>
</html>