{% extends 'layout.html' %}

{% block title %}글 목록{% endblock title %}

{% block contents %}
<h1>글 목록</h1>
<br>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>NO.</th>
            <th>카테고리</th>
            <th>글 제목</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
    </thead>
    <tbody>
        {% for post in object_list %}
        <tr>
            <td>{{ post.pk }}</td>
            <td>[{{ post.category }}]</td>
            <td><a href="{% url 'board:detail' post.pk %}">{{ post.title }}</a></td>
            <td>{{ post.writer.name }}</td>
            <td>{{ post.create_at | date:"Y/m/d H:i" }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<!-- 
    페이징 처리 - 페이지 번호 링크
    template 태그/변수에서 Paginator 접근: paginator 변수명을 이용
    context data의 page_obj 변수: 현재 페이지의 Page객체
    is_paginated 변수: 페이징처리 유무 bool로 반환 (ListView에서 pagenate_by가 설정되어 있으면 True)
-->
{% if is_paginated %}
<ul class="pagination justify-content-center">
<!-- 이전 페이지 그룹으로 이동하는 링크 -->
{% if has_previous %}
    <li class="page-item"><a class="page-link" href="{% url 'board:list' %}?page={{previous_page_no}}">이전</a></li>
{% else %}
    <li class="page-item disabled"><span class="page-link">이전</span></li>
{% endif %}

<!-- 각 페이지 번호 링크 -->
{% for page in page_range%}
    {% if page == page_obj.number %}
        <li class="page-item active"><span class="page-link">{{page}}</span></li>
    {% else %}
        <li class="page-item"><a class="page-link" href="{% url 'board:list' %}?page={{page}}">{{page}}</a></li>
    {% endif %}
{% endfor %}

<!-- 다음 페이지 그룹으로 이동하는 링크 -->
{% if has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'board:list' %}?page={{next_page_no}}">다음</a></li>
{% else %}
    <li class="page-item disabled"><span class="page-link">다음</span></li>
{% endif %}
</ul>
{% endif %}


<!-- <p style="padding:5px">
    <a href="{% url 'board:create' %}" class="btn btn-primary">새 글 등록</a>
</p> -->


{% endblock contents %}